<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    class=" js no-touch geolocation cssanimations csstransitions boxsizing pointerevents">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="language" content="es-MX">
    <meta name="country" content="MEX">
    <meta name="currency" content="$">

    <meta name="description" content="Compra Exclusivos Productos de Japon.· Precios bajos · Múltiples Formas de Pago">
    <meta name="Abstract" content="TimLGL">
    <meta name="author" content="TimLGL">

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Actualizar</title>

    <link rel="stylesheet" href="..\css\css-style-02.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




</head>

<body class="home">
    <header class="site-header">
        <div class="bg-red">
            <div class="re-central">
                <div class="searchbar-wrapper">
                    <!--START LOGO-->

                    <div class="top-message" style="font-size: 11px ;"></div>
                    <a href="/#" class="brand"></a>
                    <a href="home.html" class="brand_full">
                        <img src="..\images\logo.png" />
                    </a>
                    <!--FIN LOGO-->

                    <div class="top-message-hamburguer">
                        <div id="dl-menu" class="dl-menuwrapper re-nav-color">

                            <ul class="re-ul-principal dl-menu" data-height="viewport">
                                <div class="dl-menuwrapper re-nav-color">
                                    <li>
                                        <a href="/#">
                                            <div class="btn-menu" style="border-width:1px 1px 1px 1px;">
                                                <button></button><span>Categorias</span></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/#">
                                            <div class="btn-menu">
                                                <button></button><span>Nosotros</span></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/#">
                                            <div class="btn-menu">
                                                <button></button><span>Productos</span></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="perfil.html">
                                            <div class="btn-menu">
                                                <button></button><span>Historial</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <div class="btn-menu" style="background:#D41929;">
                                                <button></button><span style="color:white;">Ofertas</span></div>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div id="searchbar-wrapper">
                        <div class="hide hidden"><select id="searchbarSelect1">
                                <option value="">Todo</option>
                            </select><input type="hidden" id="searchbarHidden1"></div>
                        <form action="" method="POST" class="search-form">
                            <div class="field-wrapper"><input type="text" id="searchbarInput1"
                                    class="fulltext-search-box ui-autocomplete-input" value="" placeholder=""
                                    autocomplete="off" role="textbox" aria-autocomplete="list"
                                    aria-haspopup="true"><button type="submit" class="magnify" id="searchbarButton1">
                                    <img class="magnify-icon" src="..\images\search.png" />
                                </button></div>
                        </form>
                    </div>
                </div>
                <div class="topnav">
                    <div class="phone"></div>
                    <ul>

                        <li id="account-top" class="subnav"><a href="/#"><img class="icon_bar" src="..\images\user.png" /></a>
                            <ul class="subnav-wrapper">
                                <li><a href="perfil.html">Mi cuenta</a></li>
                                <li class="logout"><a href="/#">Salir</a></li>
                            </ul>
                        </li>
                        <li id="minicart-container"><a href="/#"><img class="icon_bar" src="..\images\shopping-cart.png" /><span
                                    id="total-cart-items">0</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-white">
            <div class="re-central">
                <!-- Nav. Begin -->
                <nav class="site-nav">
                    <div id="dl-menu">
                        <div class="btn-menu"><span>Categorias</span></div>
                        <ul class="re-ul-principal dl-menu" data-height="viewport">
                            <ul class="nav-categories nav-accordion__content nav-colchones nav-col-2">
                                <div class="menu-message">Encuentra el producto <span class="c-primary">ideal para
                                        ti</span></div>
                                <div class="row">
                                    <div class="col">
                                        <li><a href="/#">Cat1</a>
                                        </li>
                                        <li><a href="/#">Cat2</a>
                                        </li>
                                        <li><a href="/#">Cat3</a>
                                        </li>
                                        <li><a href="/#">Cat4</a>
                                        </li>
                                        <li><a href="/#">Cat5</a>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </ul>
                    </div>
                    <a href="/#">
                        <div class="btn-menu" style="margin-left: 4vw"><button></button><span>Nosotros</span></div>
                    </a>
                    <a href="productos.html">
                        <div class="btn-menu" style="margin-left: 4vw"><button></button><span>Productos</span></div>
                    </a>
                    <a href="perfil.html">
                        <div class="btn-menu" style="margin-left: 4vw"><button></button><span>Historial</span>
                        </div>
                    </a>
                </nav>
            </div>
        </div>
    </header>

    <main role="main" class="page-main--home-page">
        <div class="re-central">
            <div class="login-wrapper">

                <div class="login_body">
                    <div class="who_Quienes">
                        <br>
                        <div class="login_titulo">
                            <div class="login_titulo_text">Actualizar Informacion</div>
                        </div>
                        <form class="login_forma">
                            <div class="btn_login">
                                <a href="resetPsw.html">
                                    <input class="btn_actualizar_button" type="button" value="Cambiar Contraseña">
                                </a>
                            </div>
                            <div class="btn_login">
                                <a href="resetUsr.html">
                                    <input class="btn_actualizar_button" type="button" value="Cambiar Correo">
                                </a>
                            </div>
                            <div class="btn_login">
                                <a href="informacion.html">
                                    <input class="btn_actualizar_button" type="button" value="Cambiar información">
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer class="site-footer">
        <div class="pre-footer">
            <div class="re-central">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="newsletter-wrapper">
                            <h5>Envíanos tu mail, recibe ofertas<br>y promociones especiales</h5>
                            <div class="newsletter-box">
                                <form id="registroEmail" action="" class="newsletter-subscribe__form"><input
                                        id="nl-email" type="email" placeholder="Escribe tu email"><button
                                        class="btn btn-primary btn-newsletter">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-footer">
            <div class="re-central">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="foo-copyright">Aviso de privacidad<small>Derechos reservados - <span
                                    id="year-copyright">2019</span></small></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="foonav-wrapper">
                            <div class="foonav subnav">
                                <h4>Acerca de</h4>
                            </div>
                            <div class="foonav subnav">
                                <h4>Servicio al cliente</h4>
                            </div>
                            <div class="foonav">
                                <h4>Términos y condiciones</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="go-to-top"><i class="icon-go-to-top"></i></div>
    <script type="text/html" id="cart-template">
	<div class="overlay"></div>
	
</script>
    <script type="text/javascript" src="../javascript/configuration/universal.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox"
        aria-activedescendant="ui-active-menuitem" style="z-index: 10; top: 0px; left: 0px; display: none;"></ul>
    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox"
        aria-activedescendant="ui-active-menuitem" style="z-index: 11; top: 0px; left: 0px; display: none;"></ul>

</body>

</html>